.chapternav {
  padding: 8px 0;
  text-align: center;
  height: 100px;
  z-index: 9987;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.nav-items {
  margin: 0 34px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  list-style: none;
  padding-bottom: 50px;
}

.nav-item:first-child {
  margin-left: 0;
  padding-left: 4px;
}

.airpods-2gen {
  padding-right: 15px;
}

.airpods-3gen {
  padding-left: 29px;
  padding-right: 25px;
}

.nav-item {
  animation: chapternav-slidein 350ms backwards;
}

.nav-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 -0.1176470588em;
  padding: 0 20px;
}

.airpods-2gen .nav-icon {
  background-size: 32px 54px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/airpods/q/images/chapternav/airpods_2gen_light__ckwbqlgv1r9e_large.svg);
  width: 32px;
}

.airpods-3gen .nav-icon {
  background-size: 32px 54px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/airpods/q/images/chapternav/airpods_3gen_light__6r7zooyk4lua_large.svg);
  width: 32px;
}

.airpods-pro .nav-icon {
  background-size: 38px 54px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/airpods/q/images/chapternav/airpods_pro_light__ets5a19rt3au_large.svg);
  width: 38px;
}


.airpods-max .nav-icon {
  background-size: 32px 54px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/airpods/q/images/chapternav/airpods_max_light__cvaaddhgazqu_large.svg);
  width: 32px;
}

.airpods-compare .nav-icon {
  background-size: 45px 54px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/airpods/q/images/chapternav/airpods_compare_light__cmuvdvbxj1w2_large.svg);
  width: 45px;
}

.apple-music .nav-icon {
  background-size: 32px 54px;
  background-repeat: no-repeat;
  background-image: url(https://www.apple.com/v/airpods/q/images/chapternav/apple_music_light__fexraacz3dme_large.svg);
  width: 32px;
}

.nav-icon {
  background: bottom no-repeat;
  display: block;
  margin: 0 auto 7px;
  height: 54px;
}


.nav-label:lang(ko) {
  letter-spacing: 0em;
  font-family: SF Pro KR,SF Pro Text,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.nav-label {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  display: block;
  margin: 0;
}

.apple-music-ribbon {
  width: 100%;
  z-index: 3;
}
.ribbon-blue-to-default {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  margin-top: 0;
  --ribbon-background-color: #f8f8f9;
}
.ribbon-drop-wrapper {
  animation: ribbon-drop .8s ease-in-out forwards;
}
.ribbon-blue-to-default {
  --ribbon-background-color: #f5f5f7;
  --ribbon-background-color-initial: #0071e3;
  --ribbon-text-color: #1d1d1f;
  --ribbon-text-color-initial: white;
  --ribbon-link-color: #0066cc;
  --ribbon-focus-color: rgba(0,125,250,0.6);
  --ribbon-link-color-initial: white;
}
.ribbon {
  overflow: hidden;
  --ribbon-background-color: #f5f5f7;
  --ribbon-text-color: #1d1d1f;
  --ribbon-link-color: #0066cc;
  --ribbon-focus-color: rgba(0,125,250,0.6);
}

.ribbon .ribbon-content-wrapper {
  padding: 9px 0;
}
.ribbon-blue-to-default .ribbon-content-wrapper {
  background-color: var(--ribbon-background-color-initial);
  animation: animate-background-0071e3-f5f5f7 1s ease-in-out 1.8s forwards;
}
.ribbon .ribbon-content-wrapper {
  background-color: var(--ribbon-background-color);
}
.ribbon .ribbon-content-wrapper {
  padding-top: 0.9411764706em;
  padding-bottom: 0.9411764706em;
}
.ribbon-content-wrapper {
  text-align: center;
}

.ribbon .ribbon-content:lang(ko) {
  line-height: 1.5714285714;
  letter-spacing: 0em;
  font-family: SF Pro KR,SF Pro Text,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.ribbon-blue-to-default .ribbon-content {
  color: var(--ribbon-text-color-initial);
  animation: animate-color-white-1d1d1f 1s ease-in-out 1.8s forwards;
}
.ribbon .ribbon-content {
  color: var(--ribbon-text-color);
}
.ribbon .ribbon-content {
  font-size: 14px;
  line-height: 1.4285914286;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.ribbon-content {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.ribbon .ribbon-content-wrapper p:lang(ko) {
  line-height: 1.4166666667;
  letter-spacing: 0em;
  font-family: SF Pro KR,SF Pro Text,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.apple-music-ribbon p:lang(ko) {
  line-height: 1.5714285714;
  letter-spacing: 0em;
  font-family: SF Pro KR,SF Pro Text,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.ribbon .ribbon-content-wrapper p {
  font-size: 12px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.apple-music-ribbon p {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  line-height: 1.4285914286;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.footnote {
  color: inherit;
}

.footnote a {
  vertical-align: inherit;
  color: inherit;
}

.ribbon-blue-to-default .ribbon-link {
  color: var(--ribbon-link-color-initial);
  animation: animate-color-white-0066cc 1s ease-in-out 1.8s forwards;
}
.ribbon .ribbon-link {
  color: var(--ribbon-link-color);
}
.link:link, .link:visited, a:link, a:visited {
  text-decoration: none;
}
.ribbon-link {
  white-space: nowrap;
}