/* nav */

#ac-globalnav {
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    background: rgba(0,0,0,0.92);
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.chapternav {
    background: rgba(245,245,247,0.7);
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    height: 100px;
    z-index: 9987;
    width: 100%;
    position: relative;
    overflow: hidden;
}

nav ul, nav ol {
    margin: 0;
    list-style: none;
}


.chapternav-item:first-child {
    margin-left: 0;
    padding-left: 4px;
}

.chapternav-item {
    animation: chapternav-slidein 350ms backwards;
}

.chapternav-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 -0.11765em;
    padding: 0 20px;
}

.chapternav-items {
    margin: 0 34px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    list-style: none;
    padding-bottom: 50px;
}

.chapternav-link {
    color: #1d1d1f;
    display: block;
    padding: 0;
    margin-top: 3px;
    position: relative;
    z-index: 1;
}

a:link, a:visited, .link:link, .link:visited {
    text-decoration: none;
}

.chapternav-icon {
    margin-bottom: 4px;
}

.chapternav-icon {
    background: center bottom no-repeat;
    display: block;
    margin: 0 auto 7px;
    height: 54px;
}


.chapternav-label {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: block;
    margin: 0;
}

.chapternav-new {
    position: relative;
}

.chapternav-new {
    font-size: 10px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -.008em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #bf4800;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.chapternav-item-macbook-air .chapternav-icon {
    width: 52px;
    height: 54px;
    background-size: 52px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/macbookair_light__f0o95rwae8ae_large.svg);
}

.chapternav-item-macbook-pro .chapternav-icon {
    width: 84px;
    height: 54px;
    background-size: 84px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/macbook_pro_light__e791sjqzt32a_large.svg);
}

.chapternav-item-imac-24 .chapternav-icon {
    width: 43px;
    height: 54px;
    background-size: 43px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/imac_24_light__colyztscbeeu_large.svg);
}

.chapternav-item-mac-mini .chapternav-icon {
    width: 28px;
    height: 54px;
    background-size: 28px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/mac_mini_light__frtahmzmd4mm_large.svg);
}

.chapternav-item-mac-studio .chapternav-icon {
    width: 28px;
    height: 54px;
    background-size: 28px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/mac_studio_light__ea3pb1auizu6_large.svg);
}

.chapternav-item-mac-pro .chapternav-icon {
    width: 35px;
    height: 54px;
    background-size: 35px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/mac_pro_light__cj4dvg7thx5y_large.svg);
}

.chapternav-item-compare .chapternav-icon {
    width: 45px;
    height: 54px;
    background-size: 45px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/mac_compare_light__emml1umdv9m6_large.svg);
}

.chapternav-item-displays .chapternav-icon {
    width: 72px;
    height: 54px;
    background-size: 72px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/displays_light__ewxqx5obdxci_large.svg);
}

.chapternav-item-accessories .chapternav-icon {
    width: 33px;
    height: 54px;
    background-size: 33px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/mac_accessories_light__cuds10wyptyu_large.svg);
}

.chapternav-item-macos .chapternav-icon {
    width: 35px;
    height: 54px;
    background-size: 35px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/mac_os_light__d0zczt34scq6_large.svg);
}

.chapternav-item-shop .chapternav-icon {
    width: 103px;
    height: 54px;
    background-size: 103px 54px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/mac/home/bl/images/familybrowser/mac_shop_light__layuggud1xe2_large.svg);
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}

@keyframes chapternav-slidein{
    0%{opacity:0}
    1%{transform:translateX(160px)}
    100%{opacity:1;transform:translateX(0)}
}



/* product */

section {
    display: block;
}

.section-hero-product {
    padding: 130px 0;
    border-bottom: 10px solid #f5f5f7;
}

.section-hero-product {
    padding: 110px 0 70px;
    overflow: hidden;
    margin-top: 0;
}

.section-content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.section-hero-product .section-content {
    align-items: center;
    text-align: center;
}

.large-centered {
    margin-left: auto;
    margin-right: auto;
}

div {
    display: block;
}

.large-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
}

.section-hero-product .violator-frameless {
    font-weight: 600;
    margin-bottom: 0.3em;
    background: rgba(0,0,0,0);
    border-color: #bf4800;
    color: #f56300;
}

.violator-frameless {
    box-sizing: border-box;
    white-space: nowrap;
    display: block;
    color: #bf4800;
}

.typography-hero-violator {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


.typography-hero-product-headline {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.section-hero-product .typography-hero-product-headline:lang(ko) {
    line-height: 1.07143;
}

[class*="typography-eyebrow"] {
    display: block;
    margin-bottom: 0.4em;
}

.typography-eyebrow-elevated {
    font-size: 28px;
    line-height: 1.14286;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.section-hero-product .section-content .product-wrapper .hero-copy {
    margin-top: 0;
}


[class*="typography-eyebrow"]+* {
    margin-top: 0;
}

.section-hero-product .section-content .product-wrapper .hero-pricing .hero-price {
    margin-top: 1.35em;
}

.typography-body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.section-hero-product .section-content .product-wrapper .cta-links {
    margin-top: 10px;
}

.section-hero-product .section-content .product-wrapper .cta-links .link-container {
    display: inline-block;
    margin: 0 10px;
}

.typography-hero-product-link {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

a.icon-wrapper {
    text-decoration: none;
}

a, .link {
    color: #06c;
    letter-spacing: inherit;
}

.icon-wrapper .icon, .icon-wrapper .more::after, .icon-wrapper .icon-before::before, .icon-wrapper .icon-after::after {
    display: inline;
    position: static;
}



.button {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    min-width: 28px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 980px;
    background: #0071e3;
    color: #fff;
}


.large-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.section-hero-product .section-content .product-wrapper .hero-image {
    margin-top: 65px;
}

.section-hero-product.section-mac-studio {
    padding-top: 122px;
}
.section-hero-product .section-content .product-wrapper .hero-image.hero-mac-studio-image {
    width: 470px;
    height: 232px;
    background-size: 470px 232px;
    background-repeat: no-repeat;
    background-image: url(https://apple.com/v/mac/home/bm/images/overview/hero/mac_studio__c2wojtx43pw2_large.jpg);
    position: relative;
    left: 50%;
    margin-left: -235px;
}


.section-hero-product.section-studio-display {
    padding: 45px 0;
}

.section-hero-product .section-content .product-wrapper .hero-image.hero-studio-display-image {
    width: 548px;
    height: 422px;
    background-size: 548px 422px;
    background-repeat: no-repeat;
    background-image: url(https://apple.com/v/mac/home/bm/images/overview/hero/studio_display__cn9qj5umkwya_large.jpg);
    position: relative;
    left: 50%;
    margin-left: -274px;
    margin-top: 38px;
}

.section-hero-product.section-macbook-pro {
    border-bottom: none;
    padding-top: 117px
}

.section-hero-product .section-content .product-wrapper .hero-image.hero-macbook-pro-image {
    width: 834px;
    height: 282px;
    background-size: 834px 282px;
    background-repeat: no-repeat;
    background-image: url(https://apple.com/v/mac/home/bm/images/overview/hero/macbook_pro_14_16__dmqm5vr9l7yq_large.jpg);
    position: relative;
    left: 50%;
    margin-left: -417px;
}